<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Montserrat|Quicksand:700&display=swap" rel="stylesheet">

	<link href="../../styles/global.css" rel="stylesheet">
</head>

<body>

	<div id="preLoader">
		{{!-- <h3 class="loader-text qs" style="margin-top: 44vh">Bork</h3> --}}
	</div>

	<nav>
		<div class="nav-wrapper black">
			<div class="container">
				<a href="/" class="brand-logo qs">Bork</a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="right hide-on-med-and-down">
					{{!-- <li><a href="/survey">Survey</a></li> --}}
					{{!-- <li><a href="/swiper">Swipe</a></li> --}}
					<li><a href="/organizations">Organizations</a></li>
					<li><a href="https://github.com/jrobs87/project-2-reset" target="blank">GitHub</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-demo">
		<div class="sideImg">
			<img id="sideNavImg" src="../../img/homeSideNav.jpg" alt="">
			<h6>Rare Pupper</h6>
		</div>
		<li><a href="/">Home</a></li>
		{{!-- <li><a href="/survey">Survey</a></li>
		<li><a href="/swiper">Swipe</a></li> --}}
		<li><a href="/organizations">Adoption</a></li>
		<li><a href="https://github.com/jrobs87/project-2-reset" target="blank">GitHub</a></li>
	</ul>

	{{{ body }}}

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
		$(window).ready(function () {
			$('.sidenav').sidenav(); // init mobile nav menu

			$('#preLoader').css('opacity', 0); 	// Simple trnaistion between pages

			// remove preloader after fading out
			setTimeout(function () {
				$('#preLoader').css('display', 'none');
			}, 460);
		});
	</script>
	
</body>

</html>