<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="../styles/404.css">
  <title>Document</title>
</head>
<body>
  <div class="container-full">
  <div class="row">
    <div class="col l12 m12 s12">
      <div id="four-o-four">
        <h5 class="qs">Oh h*ck! Something borked up...</h5>
        <br>
        <a href="/" class="btn white black-text">Return Home</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>


