<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/styles/home.css" rel="stylesheet"> 
    <title>Bork - Welcome Home</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col xl5 l6 m8 s12">
                <div id="blurb">
                    <h2>Find Your New Best Friend</h2>
                    <h5>Search for hundreds of adoptable dogs in need of forever homes.</h5>
                    <br>
                    <a href="/survey" class="waves-effect waves-light btn deep-purple">Get Started</a>
                </div>
            </div>
        </div>
    </div>
<script>

</script>

</body>

</html>