<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/styles/materialize.min.css" media="screen,projection" />
    <link href="/styles/style.css" rel="stylesheet">
    <title>Organization Finder</title>
</head>

<body>
    <div class="header-survey">
        <div class="container">
            <div class="row">
                <h3>Organization Finder</h3>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 6em">
        <div class="row">
            <div class="col4">
                <form>
                    <label for="zip-field">
                        <h5>Zip Code:</h5>
                    </label>
                    <input type="text" id="zip-field" placeholder="Enter your zip code">
                    <br>
                    <button type="submit" id="submitBtn" class="btn purple">API Button</button>
                </form>
            </div>
        </div>
        <div class="row" id="orgDiv"></div>
    </div>

</body>

<script type="text/javascript">
    $("#submitBtn").on("click", function (event) {
        event.preventDefault();
        var userZip = $("#zip-field").val();
        var userQuery = {
            zipcode: userZip
        }
        if (userZip.length < 5 || userZip.length > 5) {
            alert("Please enter a valid zip code");
        } else {
            $.post("/organizations", userQuery)
                .then(function (data) {
                    $("#org-div").remove();
                    var orgDiv = $("<div>");
                    orgDiv.attr("id", "org-div");
                    $("#orgDiv").append(orgDiv);
                    for (var z = 0; z < data.length; z++) {
                        var orgCard = $("<div>");
                        orgCard.attr("class", z+"-card card-div");
                        $("#org-div").append(orgCard);
                        var nameDiv = $("<div>");
                        nameDiv.attr("class", z+"-name name-div");
                        $("."+z+"-card").append(nameDiv);
                        $("."+z+"-name").html(data[z].name)
                        var emailDiv = $("<div>");
                        emailDiv.attr("class", z+"-email email-div");
                        $("."+z+"-card").append(emailDiv);
                        $("."+z+"-email").html(data[z].email)
                        var locDiv = $("<div>");
                        locDiv.attr("class", z+"-location loc-row row");
                        $("."+z+"-card").append(locDiv);
                        var cityDiv = $("<div>");
                        cityDiv.attr("class", z+"-city city-div");
                        $("."+z+"-location").append(cityDiv);
                        $("."+z+"-city").html(data[z].address.city+", ")
                        var stateDiv = $("<div>");
                        stateDiv.attr("class", z+"-state state-div");
                        $("."+z+"-location").append(stateDiv);
                        $("."+z+"-state").html(data[z].address.state)
                        var zipDiv = $("<div>");
                        zipDiv.attr("class", z+"-zip zip-div");
                        $("."+z+"-location").append(zipDiv);
                        $("."+z+"-zip").html(data[z].address.postcode)
                        var urlDiv = $("<div>");
                        urlDiv.attr("class", z+"-url url-div");
                        $("."+z+"-card").append(urlDiv);
                        var urlLink =$("<a>");
                        urlLink.attr("class", z+"-link url-link");
                        urlLink.attr("href", data[z].url);
                        $("."+z+"-url").append(urlLink);
                        $("."+z+"-link").html(data[z].url);
                    }

                });
        };
    })

</script>

</html>