body {
    opacity: 1;
    min-height: 1160px;
}

#tinderslide {
    height: 28em;
    width: 100%;
    margin: 8% auto;
    height: 30em;
    width: 26em;
}

#tinderList {
 width: 100%;
}

#tinderslide ul {
    position: relative;
    display: block;
    height: 32em;
    width: 26em;
    margin: auto !important;
}

#tinderslide li {
    width: 100%;
    height: 20em;
    border-radius: 0.3em;
    background: black;
    color:#eaeaea;
    padding: 0.66em;
    margin-left: -0.2em;
}

#tinderslide .img {
    height: 16em;
    width: 100%;
    border-radius: 0.2em;
}

/* Like & dislike badge images */
#tinderslide .like,
#tinderslide .dislike {
    color:white;
}

.actions {
    padding-top: 1em;
    height: 7em;
    width: 100%;
}

.actions a {
   transition: 0.3s;
}

#modal1 {
    border-radius: 0.2em;
}

.divText {
    padding: 0.5em 0 0.5em 0;
    font-size: 1.44em;
    color: black;
}

.collection-img {
    width: 20%;
}