body {
    padding-top: 3em;
    transition: 1s;
    opacity: 0;
}

#tinderslide {
    height: 28em;
    width: 100%;
    margin: auto;
    padding: auto;
    height: 30em;
    width: 26em;
}

#tinderList {
 /* background: blue; */
 width: 100%;
 
}

#tinderslide ul {
    position: relative;
    display: block;
    height: 32em;
    width: 26em;
    margin: auto !important;
}

#tinderslide li {
    width: 100%;
    height: 22em;
    border-radius: 0.66em;
    background: darkmagenta;
    color:white;
    padding: 0.66em;
    border: 1px solid white;
}

#tinderslide .img {
    height: 18em;
    width: 100%;
    border-radius: 0.66em;
    border: 1px solid white;
}

/* Like & dislike badge images */
#tinderslide .like,
#tinderslide .dislike {
    color:white;
}

.actions {
    margin-top: 8em;
    height: 6em;
    width: 100%;
}

.actions a {
   /* background: purple;
   color: white; */
   transition: 0.3s;
   /* margin: 1em 2em 1em 2em; */
}

.actions a:hover{
    /* background: plum;
    color: white; */
}

#modal1 {
    border-radius: 0.66em;
}

