body {
    background-image: url(../../img/home.jpg);
    background-size: cover;
    background-position-x: left;
    background-position-y: top;
    height: 100vh;
}

#blurb {
    margin-top: 33%;
}

